body{
font-family:Arial;
text-align:center;
background:#f4f4f4;
}

h1{
margin-top:30px;
}

.drop-area{

border:2px dashed #4CAF50;
padding:40px;
width:320px;
margin:auto;
cursor:pointer;
background:white;

}

.drop-area.dragover{
background:#e8ffe8;
}

button{

margin-top:20px;
padding:10px 20px;
background:#4CAF50;
color:white;
border:none;
cursor:pointer;
font-size:16px;

}

button:hover{
background:#3e8e41;
}

#preview{

max-width:400px;
margin-top:20px;

}


/* Before After Slider */

.img-base{

width:100%;
display:block;

}

.img-overlay{

position:absolute;
top:0;
left:0;
height:100%;
width:50%;
overflow:hidden;

}

.img-overlay img{

width:400px;
display:block;

}

#slider{

width:400px;
margin-top:10px;

}

.compare-wrapper{
width:400px;
margin:auto;
text-align:center;
}

.img-container{
position:relative;
width:400px;
height:auto;
}

.img-container img{
width:100%;
display:block;
}

.img-overlay{
position:absolute;
top:0;
left:0;
width:50%;
height:100%;
overflow:hidden;
}

.img-overlay img{
width:400px;
}

#slider{
width:400px;
margin-top:10px;
}

.compare-images{
display:flex;
justify-content:center;
gap:40px;
margin-top:20px;
flex-wrap:wrap;
}

.image-box{
text-align:center;
}

.image-box img{
width:350px;
border-radius:8px;
box-shadow:0px 4px 10px rgba(0,0,0,0.2);
}